.star {

    .red-star,
    .grey-star {
        width: 16%;
        margin-right: 4%;
    }
}

@media screen and (max-width:425px) {
    .star {

        .red-star,
        .grey-star {
            width: 12%;
        }

    }
}